doctype html
html
	head
		title KnowledgeBase
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			a.navbar-brand(href='#') KnowledgeBase
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='/') Home							
					li.nav-item
						a.nav-link(href='/articles/add') Add Articles
									
		.container
			block content
			br
			hr
			footer
				p Copyright &copy; 2018

		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')